<form [formGroup]="transaction" (ngSubmit)="formSubmit()">
    <h2>Current balance: {{balance}}</h2>
    <div class="mb-3">
        <label for="accountNumber" class="form-label">Account Number</label>
        <input type="text" formControlName="accountNumber" id="accountNumber" class="form-control">
    </div>

    <div class="mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input type="text" id="amount" formControlName="amount" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="modal fade" #messageModal id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
</div>